################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Umbraco11SampleSite/v17/.suo
/.vs/Umbraco11SampleSite/FileContentIndex/read.lock
/.vs/Umbraco11SampleSite/FileContentIndex/df94189b-3df7-4815-81cd-4f2f86eb44c9.vsidx
/.vs/Umbraco11SampleSite/FileContentIndex/d598250c-c2be-44d9-8ec2-ff275f53eda8.vsidx
/.vs/Umbraco11SampleSite/DesignTimeBuild/.dtbcache.v2
